
.MainPage_MainPage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.MainPage_MainPage .MainCover {
	position: absolute;
	left: -16px;
	top: -12px;
	width: 1456px;
	height: 1036px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 3px;
}
.MainPage_MainPage .logo {
	position: absolute;
	right: 945px;
	bottom: 801px;
	width: 511px;
	height: 223px;
	object-fit: cover;
	overflow: hidden;
}
.MainPage_MainPage .Authenticfoodonyourtable {
	position: absolute;
	left: 41px;
	top: 395px;
	width: 845px;
	height: 96px;
	color: rgba(255,255,255,1.00);
	font-family: Ravi Prakash;
	font-size: 55px;
	font-weight: 400;
	line-height: 87.119140625px;
}
.MainPage_MainPage .Iam {
	position: absolute;
	left: 41px;
	top: 634px;
	width: 107px;
	height: 72px;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
}
.MainPage_MainPage .Customer {
	position: absolute;
	left: 41px;
	top: 724px;
	width: 257px;
	height: 71px;
}
.MainPage_MainPage .Customer .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 257px;
	height: 71px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: soft-light;
}
.MainPage_MainPage .Customer .Customer_1 {
	position: absolute;
	left: 6.5897216796875px;
	top: 7px;
	width: 250.4102783203125px;
	height: 58.82856750488281px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
}
.MainPage_MainPage .Restaurateur {
	position: absolute;
	left: 328px;
	top: 725px;
	width: 368px;
	height: 70px;
}
.MainPage_MainPage .Restaurateur .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 368px;
	height: 70px;
	background: rgba(217,217,217,1.00);
	mix-blend-mode: soft-light;
}
.MainPage_MainPage .Restaurateur .Restaurateaur {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 353px;
	height: 59px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
}
.MainPage_MainPage .ContactUs {
	position: absolute;
	left: 1205px;
	top: 19px;
	width: 160px;
	height: 36px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 30px;
	font-weight: 400;
	line-height: 36.30681610107422px;
}
.MainPage_MainPage .About {
	position: absolute;
	left: 1109px;
	top: 18px;
	width: 86px;
	height: 36px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 30px;
	font-weight: 400;
	line-height: 36.30681610107422px;
}
.MainPage_MainPage ._ {
	position: absolute;
	left: 1195px;
	top: 19px;
	width: 10px;
	height: 36px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 30px;
	font-weight: 400;
	line-height: 36.30681610107422px;
}
.MainPage_MainPage .Vector {
	position: absolute;
	right: 23px;
	width: 42px;
	height: 36.75px;
}